html {
  --background-color: white;
  --text-color: black;
  --link-color: blue;
  --link-hover-color: purple;
  --link-visited-color: red;
  --subtitle-text: #505050;
}

@media (prefers-color-scheme: dark) {
    html { 
      --background-color: black;
      --text-color: white;
      --link-color: cornflowerblue;
      --link-hover-color: mediumslateblue;
      --link-visited-color: salmon;
      --subtitle-text: #C0C0C0;
    }
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0;
}

.main {
  font-size: 1.5em;
  max-width: 36em;
  display: flex;
  flex-direction: column;
}

.main > * {
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
}

p,a,li,h1,small,sub {
  font-family: sans-serif;
  font-weight: 300;
}

small,sub {
  font-size: 1rem;
}

h1 {
  font-size: 2rem;
}

a {
  color: var(--link-color);
  text-decoration: none;
  transition: color 0.25s ease;
}

a:visited {
  color: var(--link-visited-color);
  transition: color 0.25s ease;
}

a:hover,a:focus {
  color: var(--link-hover-color);
  transition: color 0.25s ease;
}

@media print {
  body {
    margin: 0;
    align-items: unset;
    font-size: unset;
  }

  .main {
    max-width: unset;
  }
}

@media (max-width: 40em) {
  body {
    margin-top: 2em;
  }

  .main {
    max-width: unset;
  }
}