body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10em;
}

.main {
  max-width: 40em;
  display: flex;
  flex-direction: column;
}

.main > * {
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
}

p,a,li,h1,small,sub {
  font-family: sans-serif;
  font-weight: lighter;
}

small,sub {
  font-size: 1rem;
}

p,a,li {
  font-size: 1.5rem;
}

h1 {
  font-size: 2rem;
}

a {
  color: blue;
  text-decoration: none;
  transition: color 0.25s ease;
}

a:visited {
  color: red;
  transition: color 0.25s ease;
}

a:hover,a:focus {
  color: purple;
  transition: color 0.25s ease;
}

@media print {
  body {
    margin: 2em;
    align-items: unset;
    font-size: unset;
  }

  .main {
    max-width: unset;
  }
}

@media (max-width: 40em) {
  body {
    margin-top: 2em;
  }

  .main {
    max-width: unset;
  }
}