@import "common.css";

@keyframes slideUp {
  0% {
    transform: translateY(10%);
    opacity: 0;
  }
  100% {
    transform: none;
    opacity: 100%;
  }
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
}

.main {
  animation: 0.3s ease 0s slideUp;
  padding: 16px;
}

@media (min-width: 800px) {
  .main {
    flex-direction:row;
    gap: 16px;
  }
}

.big-name {
  font-family: 'Montserrat', sans-serif;
  font-size: 3em;
  text-align: left;
  margin: auto;
  width: 2em;
  word-break: break-all;
  /* TODO transition: opacity 0.5s ease; */
  /* opacity: 1; */
  border: 0.33em solid var(--text-color);
  padding: 8px;
}

.mi.nombre {
  color: var(--link-color);
  text-decoration: none;
  transition: color 0.25s ease;
}
.mi.nombre:hover {
  color: var(--link-visited-color);
  transition: color 0.25s ease;
}
ul {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0;
}
li {
  list-style-type:none;
}
body {
  justify-content: center;
}