@import "common.css";

.friendly-text {
  color: var(--subtitle-text);
  font-size: 0.75em;
}

.subtitle {
  color: var(--subtitle-text);
}

header {
  display: flex;
  flex-direction: column;
}

.title,.aka,.resume-link {
  text-align: center;
}

.resume-link {
  margin-top: 1em;
  font-size: 0.5em;
}

@media print {
  .no-print {
    display: none;
  }
}

@media (max-width: 40em) {
  .friendly-text { 
    visibility: hidden;
  }
}