@import "common.css";

.friendly-text {
  color: #505050;
  font-size: 0.75em;
}

.subtitle {
  color: #505050;
}

header {
  display: flex;
  flex-direction: column;
}

.title,.aka {
  text-align: center;
}

@media print {
  .friendly-text {
    visibility: hidden;
  }
}

@media (max-width: 40em) {
  .friendly-text { 
    visibility: hidden;
  }
}