.icons {
	list-style: none;
	padding-left: 0;
}

.icons li {
	display: inline-block;
	font-family: "fontello";
}

.icons li a {
	text-decoration: none;
	font-size: 1.5em;
	color: #444;
}

.icons li a:visited {
	text-decoration: none;
	color: #444;
}

.icons li a:hover {
	color: #E44;
	transition: 0.5s;
}