@keyframes fadein {
	from {
		opacity: 0;
		transform: translateY(100%);
	}
	to {
		opacity: 1;
	}
}

.Main {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	height: 100vh;
}

.Main-portrait {
	height: 128px;
	border-radius: 64px;
}

.Main-header {
	background-color: #FFF;
	height: 150px;
	animation: fadein 1s;
}

.Main-title {
	font-weight: lighter;
	letter-spacing: 1px;
}

.Main-intro {
	font-size: large;
}